<template>
  <div class="fullscreen"></div>
  <div class="box">
    <div class="title">Resume</div>
    <div class="name">
      Dery Nugroho
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
        cumque, sit iste maiores assumenda consequatur doloribus nihil adipisci
        aliquid, praesentium corporis excepturi. Expedita delectus qui ut, ad
        adipisci nesciunt aut! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Qui consequuntur, accusamus, doloribus praesentium
        recusandae dolorum nam architecto distinctio rerum esse modi illo vel
        nullal Amet, at? A, perferendis ex. Eius?
      </p>
    </div>
    <div class="experien">Experiences</div>
    <ul class="my-ul">
      <li
        v-for="(value, index) in myObject"
        :key="index"
        @click="selectedExperience = value"
      >
        {{ value.pengalaman }}
        <div v-if="selectedExperience === value">
          {{ value.deskripsi }}
        </div>
      </li>
      <div class="skill">
        Skill
        <p>HTML</p>
        <div class="container">
          <div class="skills html">90%</div>
        </div>

        <p>CSS</p>
        <div class="container">
          <div class="skills css">80%</div>
        </div>

        <p>JavaScript</p>
        <div class="container">
          <div class="skills js">65%</div>
        </div>

        <p>VUE</p>
        <div class="container">
          <div class="skills vue">60%</div>
        </div>
      </div>
      <form action="contact" method="POST">
        <fieldset>
          <legend>Contact Me</legend>
          <p>
            <label>Name:</label>
            <input type="text" name="name" placeholder="your name..." />
          </p>
          <p>
            <label>Email:</label>
            <input type="email" name="email" placeholder="your email..." />
          </p>
          <p>
            <label>Note:</label>
            <input type="text" name="note" placeholder="note..." />
          </p>
          <p>
            <input type="submit" name="submit" value="Submit" />
          </p>
        </fieldset>
      </form>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      myObject: [
        {
          id: 1,
          pengalaman: "Aug 2022-Present-FE Engineer-PT.Qatros",
          deskripsi:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit delectus quisquam mollitia velit optio, ipsum eligendi ex eos laborum praesentium voluptates voluptas quod repellendus, rem blanditiis dicta, ducimus architecto aliquid.",
        },
        {
          id: 2,
          pengalaman: "Sep 2018-Dec 2018-IT Staff-Suara Merdeka Semarang",
          deskripsi:
            "Minima reprehenderit ex amet numquam sapiente ratione sit enim facilis labore ad minus, quasi adipisci nobis provident. Culpa ad soluta dolor natus?",
        },
        {
          id: 3,
          pengalaman: "July 2018-Sep 2018-IT Staff-Semarang University",
          deskripsi:
            "sit amet consectetur adipisicing elit. Asperiores eaque ratione hic necessitatibus iure placeat doloribus cuina ilium, odit nemo expedita ipsa voluptatibus natus tempore enim! Sit quas ducimus dolorum?",
        },
      ],
      selectedExperience: null,
    };
  },
};
</script>

<style>
/* html,
body,
.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
} */

.box {
  width: 800px;
  height: 700px;
  background-color: rgba(25, 72, 167, 0.594);
  top: 30%;
  left: 25%;
  transform: translate(-50%, -40%);
  margin-top: 20px;
  margin-bottom: 300px;
}

.title {
  top: 0;
  left: 0;
  color: white;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
}

.name {
  top: -8%;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 50px 50px 50px 10px;
}

p.description {
  font-size: 16px;
}

.experien {
  top: -46%;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 230px 50px 50px 10px;
}

.my-ul {
  top: -53%;
}

.selected-item {
  top: -60%;
}

.skill {
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: -900%;
  right: 3%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.html {
  width: 90%;
  background-color: orange;
}
.css {
  width: 80%;
  background-color: orange;
}
.js {
  width: 65%;
  background-color: orange;
}
.vue {
  width: 60%;
  background-color: orange;
}
</style>

<!-- how to increase the height of the box without changing any position? ? -->
